<div class="modal fade" id="vis-login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="vis-login-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border shadow">
            <form method="post" id="vis-login-form" action="{{ path('vis_login') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="vis-login-modal-title">{{ 'login.title'|vistrans }}</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3 text-start">
                        <label class="form-label" for="_username">{{ 'login.email'|vistrans }}:</label>
                        <input type="text" name="_username" id="_username" class="form-control" autofocus/>
                        <span class="invalid-feedback"></span>
                    </div>

                    <div class="form-group mb-3 text-start">
                        <label class="form-label" for="_password">{{ 'login.password'|vistrans }}:</label>
                        <input type="password" name="_password" id="_password" class="form-control"/>
                        <span class="invalid-feedback"></span>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input" value="1"/>
                        <label class="form-check-label" for="_remember_me">{{ 'login.rememberme'|vistrans }}</label>
                        <span class="invalid-feedback"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'login.submit'|vistrans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const loginModalElement = document.getElementById('vis-login-modal');
        if (loginModalElement) {
            const loginModal = new bootstrap.Modal(loginModalElement);
            loginModal.show();

            if (typeof AvalynxForm !== 'undefined') {
                new AvalynxForm('vis-login-form', {
                    onSuccess: function(response) {
                        delete response.redirect;
                        window.location.reload();
                    }
                });
            }
        }
    });
</script>
