{% extends '@Vis/tool/base.html.twig' %}

{% do addAssetComposer('avalynx/avalynx-datatable/dist/css/avalynx-datatable.css') %}
{% do addAssetComposer('avalynx/avalynx-datatable/dist/js/avalynx-datatable.js') %}

{% block vis_container %}

    {{ parent() }}

    <div class="card shadow">
        <div class="card-header">
            DataTable example
        </div>
        <div class="card-body">
            <div class="" id="avalynx-datatable"></div>
        </div>
    </div>

    <script>

        new AvalynxDataTable("avalynx-datatable", {
            apiUrl: "{{ path('vis_demo_table_datatable_api') }}",

            perPage: 10,
            search: "",
            sorting: {
                "name": "asc",
                "age": "desc"
            }
        }, {
            showLabel: "{{ 'datatable.showLabel'|trans({}, 'vis') }}",
            entriesLabel: "{{ 'datatable.entriesLabel'|trans({}, 'vis') }}",
            searchLabel: "{{ 'datatable.searchLabel'|trans({}, 'vis') }}",
            previousLabel: "{{ 'datatable.previousLabel'|trans({}, 'vis') }}",
            nextLabel: "{{ 'datatable.nextLabel'|trans({}, 'vis') }}",
            showingEntries: (start, end, total) => "{{ 'datatable.showingEntries'|trans({}, 'vis') }}".replace('{start}', start).replace('{end}', end).replace('{total}', total),
            showingFilteredEntries: (start, end, filtered, total) => "{{ 'datatable.showingFilteredEntries'|trans({}, 'vis') }}".replace('{start}', start).replace('{end}', end).replace('{filtered}', filtered).replace('{total}', total)
        });

    </script>

{% endblock %}
