{% extends '@Vis/base.html.twig' %}

{% do addAssetComposer('twbs/bootstrap/dist/css/bootstrap.min.css') %}
{% do addAssetComposer('twbs/bootstrap/dist/js/bootstrap.bundle.min.js') %}
{% do addAssetComposer('fortawesome/font-awesome/css/all.min.css') %}
{% do addAssetComposer('avalynx/avalynx-simpleadmin/dist/js/avalynx-simpleadmin-guest.js') %}
{% do addAssetComposer('avalynx/avalynx-simpleadmin/dist/css/avalynx-simpleadmin.vars.css') %}
{% do addAssetComposer('avalynx/avalynx-simpleadmin/dist/css/avalynx-simpleadmin-guest.css') %}
{% do addAssetComposer('avalynx/avalynx-alert/dist/css/avalynx-alert.css') %}
{% do addAssetComposer('avalynx/avalynx-alert/dist/js/avalynx-alert.js') %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <header id="avalynx-simpleadmin-header" class="sticky-top d-flex border-bottom shadow">
        <div class="avalynx-simpleadmin-brand d-flex align-items-center justify-content-start" style="padding-left:16px;">
            <img src="{{ getAssetComposerFile('navigation.logo.default'|vistrans) }}" class="img-fluid avalynx-simpleadmin-navigation-logo avalynx-simpleadmin-lightmode-flex" style="max-height: 40px; height: auto;" title="{{ 'navigation.title.default'|vistrans }}" alt="{{ 'navigation.title.alt'|vistrans }}">
            <img src="{{ getAssetComposerFile('navigation.logo.dark'|vistrans) }}" class="img-fluid avalynx-simpleadmin-navigation-logo avalynx-simpleadmin-darkmode-flex d-none" style="max-height: 40px; height: auto;" title="{{ 'navigation.title.default'|vistrans }}" alt="{{ 'navigation.title.alt'|vistrans }}">
            <span class="ms-3">{{ 'navigation.title.sub'|vistrans }}</span>
        </div>
        <div class="flex-grow-1"></div>
        <button class="btn btn-link justify-content-center align-items-center avalynx-simpleadmin-toggler-darkmode avalynx-simpleadmin-header-button" onclick="avalynxSimpleAdminToggleDarkmode()" title="{{ 'main.toggle.darkmode'|vistrans }}">
            <i class="fa-solid fa-circle-half-stroke fa-fw"></i>
        </button>
    </header>
    <div id="avalynx-simpleadmin-main" class="justify-content-center">
        <div id="avalynx-simpleadmin-loader" class="position-absolute w-100 border-top">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">{{ 'main.loading'|vistrans }}</span>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
