<button class="{{ item.class }}" onclick="{{ item.onClick }}" title="{{ item.label }}" id="{{ item.id }}">
    {% if item.contentFilter == '' %}
        {{ item.content }}
    {% else %}
        {{ item.content|dynamic_filter(item.contentFilter) }}
    {% endif %}
</button>
